<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Documenta</title>
    <link rel="stylesheet/less" type="text/css" href="../public/_css/style.less" />

</head>

<div class="container">
    <main>

    </main>
    <aside>

    </aside>

    <body>

    </body>
</div>

</html>